# 6. Pandas Exercise

In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
%matplotlib inline

## 6.1. Watermarks

## 6.1.1 Watermarks: Manage the dataframe

Read the pickle "df_wt_text.pkl" in the data folder into a dataframe name df_wt_text

In [3]:
%ls ./data/exercise

df_wt_text.pkl

In [6]:
#DO IT HERE

In [5]:
df_wt_text.shape

(254951, 22)

Subset the dataframe with the following columns

- ExecutionDate : Datetime : timestamp of the service response
- Client_Type : Category : Professional or Particular client
- ClientId : Integer : id for the client
- PropertyId : Integer : Ads property Id
- AgencyName : String : Name of the Agency (one-to-one with ClientId)
- Id : Integer : Image identifier
- Detected_Info : Dict : Response from the text detection service
- Url : String : URL of the image

Pick only the first 100 thousand registers for better performance

In [11]:
#DO IT HERE

In [8]:
df_wt_text.head(2)

,ExecutionDate,ClientId,Client_Type,PropertyId,AgencyName,Id,Detected_Info,Url
0,2020-03-17 05:30:02,900040000042,Profesional,20224813,BARIN,567029556,"[{'text': 'shotoNmIplte', 'centroid': [246, 83...",https://images.inmofactory.com/inmofactory/doc...
1,2020-03-17 05:30:02,9202762585543,Profesional,151261112,Haya Real Estate,567017990,"[{'text': '28', 'centroid': [715, 396], 'occup...",https://d.fotocasa.es/anuncio/2019/05/20/15126...

Rename the column 'Id' to 'ImageId'

In [10]:
#DO IT HERE

In [23]:
df_wt_text.columns

Index(['ExecutionDate', 'ClientId', 'Client_Type', 'PropertyId', 'AgencyName',
       'ImageId', 'Detected_Info', 'Url', 'Date', 'Hour'],
      dtype='object')

Filter images where there is not Detected_Info and keep only the ones that have

In [15]:
#DO IT HERE

In [14]:
df_wt_text.head()

,ExecutionDate,ClientId,Client_Type,PropertyId,AgencyName,Id,Detected_Info,Url
0,2020-03-17 05:30:02,900040000042,Profesional,20224813,BARIN,567029556,"[{'text': 'shotoNmIplte', 'centroid': [246, 83...",https://images.inmofactory.com/inmofactory/doc...
1,2020-03-17 05:30:02,9202762585543,Profesional,151261112,Haya Real Estate,567017990,"[{'text': '28', 'centroid': [715, 396], 'occup...",https://d.fotocasa.es/anuncio/2019/05/20/15126...
4,2020-03-17 05:30:02,9202753963841,Profesional,154417275,Haya Real Estate,567017338,"[{'text': 'soamnt', 'centroid': [1096, 691], '...",https://d.fotocasa.es/anuncio/2020/02/03/15441...
6,2020-03-17 05:30:02,9202759449696,Profesional,20700195,ENGEL & VÖLKERS,567026132,"[{'text': 'GVOLKERS', 'centroid': [462, 212], ...",https://d.inmofactory.com/1/110618/20700195/29...
7,2020-03-17 05:30:02,9202753411770,Profesional,20234724,"VIVIZ COMERCIALIZADORA, S.L.",567030989,"[{'text': 'ViViz.', 'centroid': [517, 196], 'o...",https://d.inmofactory.com/1/87581/20234724/295...

Make sure that all data types are correct and transform them if you need

In [ ]:
#DO IT HERE

In [17]:
df_wt_text.dtypes

ExecutionDate    datetime64[ns]
ClientId                  int64
Client_Type            category
PropertyId                int64
AgencyName               string
Id                        int64
Detected_Info            object
Url                      string
dtype: object

Extract Date as 'yyyy-mm-dd' and Hour as 'MM:SS' from ExecutionDate

In [18]:
#DO IT HERE

Parse Information provided by the text detection service 'Detected_Info' and convert it into columns.

You want an entry for each text: p.e. ImageId, text, centroid_x, centroid_y...

```
[{
   'text': '28',
   'centroid': [715, 396],
   'occupancy': 0.0017183883101851852,
   'string_category': 'numbers',
   'probability': 0.9938117861747742
 },
 {
   'text': '28',
   'centroid': [715, 396],
   'occupancy': 0.0017183883101851852,
   'string_category': 'numbers',
   'probability': 0.9938117861747742
 }] 
```

Store the results into a dataframe called "df_wt_info_res"

note: in the process transform the text to lowercase

In [24]:
#DO IT HERE

In [26]:
df_wt_info_res.head()

,ImageId,Detected_Info,text,string_category,occupancy,probability,centroid
0,567029556,"{'text': 'shotoNmIplte', 'centroid': [246, 830...",shotonmiplte,letters,0.004013,3.653873e-04,"[246, 830]"
1,567017990,"{'text': '28', 'centroid': [715, 396], 'occupa...",28,numbers,0.001718,9.938118e-01,"[715, 396]"
2,567017338,"{'text': 'soamnt', 'centroid': [1096, 691], 'o...",soamnt,letters,0.024159,7.494296e-13,"[1096, 691]"
3,567026132,"{'text': 'GVOLKERS', 'centroid': [462, 212], '...",gvolkers,letters,0.058802,2.901020e-02,"[462, 212]"
4,567030989,"{'text': 'ViViz.', 'centroid': [517, 196], 'oc...",viviz.,letters,0.057358,2.030919e-02,"[517, 196]"

Explode the dataframe to convert centroid list into center_x and center_y columns

In [31]:
#DO IT HERE

In [28]:
df_centroid.head(2)

   center_x  center_y
0       246       830
1       715       396

In [32]:
#DO IT HERE

In [30]:
df_wt_info_res.columns

Index(['ImageId', 'Detected_Info', 'text', 'string_category', 'occupancy',
       'probability', 'center_x', 'center_y'],
      dtype='object')

Eliminate the Detected_Info column, is no loger useful

In [ ]:
#DO IT HERE

Merge the extracted data with the original dataframe into a dataframe named df

- df_wt_text : orginal data
- df_wt_info_res : extracted data

In [33]:
#DO IT HERE

In [35]:
df.head()

,ImageId,text,string_category,occupancy,probability,center_x,center_y,ExecutionDate,ClientId,Client_Type,PropertyId,AgencyName,Url,Date,Hour
0,567029556,shotonmiplte,letters,0.004013,3.653873e-04,246,830,2020-03-17 05:30:02,900040000042,Profesional,20224813,BARIN,https://images.inmofactory.com/inmofactory/doc...,2020-03-17,05
1,567017990,28,numbers,0.001718,9.938118e-01,715,396,2020-03-17 05:30:02,9202762585543,Profesional,151261112,Haya Real Estate,https://d.fotocasa.es/anuncio/2019/05/20/15126...,2020-03-17,05
2,567017338,soamnt,letters,0.024159,7.494296e-13,1096,691,2020-03-17 05:30:02,9202753963841,Profesional,154417275,Haya Real Estate,https://d.fotocasa.es/anuncio/2020/02/03/15441...,2020-03-17,05
3,567026132,gvolkers,letters,0.058802,2.901020e-02,462,212,2020-03-17 05:30:02,9202759449696,Profesional,20700195,ENGEL & VÖLKERS,https://d.inmofactory.com/1/110618/20700195/29...,2020-03-17,05
4,567030989,viviz.,letters,0.057358,2.030919e-02,517,196,2020-03-17 05:30:02,9202753411770,Profesional,20234724,"VIVIZ COMERCIALIZADORA, S.L.",https://d.inmofactory.com/1/87581/20234724/295...,2020-03-17,05

## 6.1.2 Watermarks: Inspect the results

- Describe all the variables

- Calculate number of texts and unique images by string_category and client type
- Calculate number of texts and unique images by agency_name

- Calculate probability of text detection by string_category and client type per image (mean and std)

- Calculate occupancy by string_category per property (mean and std)

- Get the top 10 agencies with better probability on average (by agency_name)

- Get the top 10 text detected with better probability on average by string_category

- Describe all the variables

In [36]:
#DO IT HERE

- Calculate number of texts and unique images by string_category and client type
- Calculate number of texts and unique images by agency_name

In [38]:
#DO IT HERE

In [43]:
df1

                 num_texts             num_images
Client_Type     Particular Profesional Particular Profesional
string_category
letters                403       64835        251       30852
mixed                   21        1239         19        1111
mostly letters          26        2088         21        1695
mostly numbers          38        1285         33        1069
numbers                 74        3529         68        2993

In [ ]:
#DO IT HERE

In [40]:
df2

                                num_texts  num_images
AgencyName
  CUATRO INMOBILIARIA                   3           3
  INMOBILIAIRIA VIVE CACERES           21           4
  INMOBILIARIA ALBASUR LEVATE          32          19
  INMOBILIARIA DEL MAR                 15           5
  LUXINMO REAL ESTATE                 109          87
...                                   ...         ...
victor                                 11           2
wilson gomez                            2           2
ÁLVAREZ SALMERÓN INMOBILIARIA         132          59
ÁUREA HOMES                             4           2
Óscar Fernández Ferrer                  1           1

[2363 rows x 2 columns]

- Calculate probability of text detection by string_category and client type per image (mean and std)

In [ ]:
#DO IT HERE

In [255]:
df3

                                      probability
                                             mean       std
string_category Client_Type ImageId
letters         Particular  566782958    0.007078  0.011771
                            566785895    0.725764  0.474244
                            566786202    0.693921  0.509907
                            566786371    0.339355  0.168511
                            566787127    0.005648  0.007988
...                                           ...       ...
numbers         Profesional 568072385    0.000129  0.000138
                            568077823    0.998988  0.000965
                            568175054    0.649902  0.364692
                            568176642    0.001859  0.002322
                            568177493    0.000565  0.000761

[16793 rows x 2 columns]

- Calculate occupancy by string_category per property (mean and std)

In [ ]:
#DO IT HERE

In [256]:
df4

                                            mean       std
string_category Client_Type PropertyId
letters         Particular  152034740   0.025059  0.039807
                            152401433   0.006971  0.011687
                            153937762   0.001900  0.002686
                            154618586   0.565162  0.413824
                            154641159   0.597403  0.410644
...                                          ...       ...
numbers         Profesional 155018703   0.919652  0.115474
                            155020730   0.746099  0.029633
                            155035727   0.150964  0.291664
                            155036683   0.989840  0.009907
                            155063343   0.983261  0.002873

[9576 rows x 2 columns]

- Get the top 10 agencies with better probability on average (by agency_name)

In [ ]:
#DO IT HERE

In [45]:
df5

                             probability
AgencyName
ARAGON GESTION                  0.998672
MATAGALLS CONSULTING            0.998373
UNIPISO                         0.997770
ELITE GESTION INMOBILIARIA      0.996981
BYB SERVICIOS INMOBILIARIOS     0.996287
PROPERTY OUTLET                 0.995340
Nexonorte                       0.993870
OCASIONCASA C/GERONA            0.993539
080 REAL ESTATE                 0.991573
PROTEVIAL                       0.989470

- Get the top 2 text with detected better probability on average by string_category

In [48]:
#DO IT HERE

In [47]:
df8

                 probability        text
string_category
letters             0.999846    equipada
letters             0.999821        ante
mixed               0.999530          t2
mixed               0.970303      gc-381
mostly letters      0.988500  planta-25-
mostly letters      0.987956    planta-3
mostly numbers      0.998671       10:29
mostly numbers      0.997736       12:43
numbers             0.999837         302
numbers             0.999766         663

## 6.1.3 Watermarks: Detect "Idealista" keyword on images

Using a levenshtein method and a distance of 2

Hint: Create a method 'detect_idealista' where:
- given a word and a distance (in our case 2)
- checks if the word and "idealista" keyword have a distance less than equal to 2
- ...by applying the levenshtein method

Then calculate the following

- Proportion of images that contain the word idealista
- Calculate top 10 agencies with the most idealista images

In [49]:
import unidecode

def levenshtein(seq1, seq2):
    """
        # Levenshtein Distance Algorithm:
        # https://dzone.com/articles/the-levenshtein-algorithm-1
        # https://stackabuse.com/levenshtein-distance-and-text-similarity-in-python
    """
    seq1 = seq1.lower() # We need to do this conversion, because this
    seq2 = seq2.lower() # algorithm is upper and lower case sensitive
    
    seq1 = unidecode.unidecode(seq1) # We transform strings with special characters to ASCII 
    seq2 = unidecode.unidecode(seq2) # We transform strings with special characters to ASCII 
    
    size_x = len(seq1) + 1
    size_y = len(seq2) + 1
    matrix = np.zeros ((size_x, size_y))
    for x in range(size_x):
        matrix [x, 0] = x
    for y in range(size_y):
        matrix [0, y] = y

    for x in range(1, size_x):
        for y in range(1, size_y):
            if seq1[x-1] == seq2[y-1]:
                matrix [x,y] = min(
                    matrix[x-1, y] + 1,
                    matrix[x-1, y-1],
                    matrix[x, y-1] + 1
                )
            else:
                matrix [x,y] = min(
                    matrix[x-1,y] + 1,
                    matrix[x-1,y-1] + 1,
                    matrix[x,y-1] + 1
                )
    return (matrix[size_x - 1, size_y - 1])

Detect Idealista text

In [50]:
#DO IT HERE

Proportion of images that contain the word idealista

In [ ]:
#DO IT HERE

In [54]:
df_isidealista

False    0.99796
True     0.00204
Name: is_idealista, dtype: float64

Calculate top 10 agencies with the most idealista images

In [56]:
#DO IT HERE

In [57]:
dfi

                                       is_idealista
AgencyName
MOLMAR GESTION INMOBILIARIA E                  24.0
RECAJ INMOBILIARIA                             13.0
MARGAMORA                                      10.0
INMOGR                                          9.0
Infocasa Consulting                             8.0
NACASIÑA INMO                                   6.0
BENICASA 2002 SERVICIOS INMOBILIARIOS           5.0
UNKNOWN                                         4.0
Ed Real Estate                                  4.0
BERNAL & ARRANZ INMOBILIARIA                    4.0

## 6.1.4 Watermarks: Visualize

- Plot the evolution of number of processed images per day (with title font 18)
- Plot the evolution of number of processed images per day and hour (x axis hours and a line for each day, title font 18)
- Plot the evolution of number of processed images per day and client_type (in two graphs on the same plot)

- Plot the average probability distribution of the probability text detected by client_type (hint: boxplot)
- Plot the average ocupancy distribution of the ocupancy text detected by string_category (on the same graph)

- Plot the top 25 agencies with better probability on average (by agency_name)

- Create a heatmap on how they correlate text_probability and occupancy

- Plot the evolution of number of processed images per day (with title font 18)

In [298]:
#DO IT HERE

- Plot the evolution of number of processed images per day and hour (x axis hours and a line for each day, title font 18)

In [301]:
#DO IT HERE

- Plot the evolution of number of processed images per day and client_type (in two graphs on the same plot)

In [58]:
#DO IT HERE

- Plot the average probability distribution of the probability text detected by client_type (hint: boxplot)

In [59]:
#DO IT HERE

- Plot the average ocupancy distribution of the occupancy text detected by string_category (on the same graph)

In [60]:
#DO IT HERE

- Plot the top 25 agencies with better probability on average (by agency_name)

In [61]:
#DO IT HERE

- Create a heatmap on how they correlate text_probability, center_x, center_y and occupancy

In [332]:
#DO IT HERE