### Import

In [1]:
import matplotlib.pyplot as plt
import numpy as np
from sklearn import datasets, linear_model
import pandas as pd
from sklearn.metrics import mean_squared_error, r2_score
import psycopg2
import pandas.io.sql as psql

ImportError: No module named psycopg2

### connect_to_dw

In [3]:
conn = ""
try:
        conn = psycopg2.connect(dbname='dw_blocketdb_ch', user='bnbiuser', host='200.29.173.148', password='VE1bi@BN112AzLkOP')
except:
        logger.info('ERROR: I am unable to connect to the database')
        print
        "I am unable to connect to the database"

### SQL Query

In [4]:
query = """
select *,
case when im.ad_id_nk is null then 'no' else 'yes' end as has_a_photo
from ods.ad a inner join
ods.category c on c.category_id_pk = a.category_id_fk
left join
stg.temp_images_per_ad im on im.ad_id_nk = a.ad_id_nk
where a.approval_date::date between '2018-08-01' and '2018-10-31'
"""
df_sql = psql.read_sql(query, conn)
#conn.close()
#return df_sql

In [5]:
print df_sql

         ad_id_pk  ad_type_id_fk  category_id_fk  platform_id_fk  \
0        69389975              1               7               7
1        69386281              1              47               1
2        69367451              1               7               2
3        69374786              1               7               7
4        69380689              1               7               1
5        69384623              1               9               2
6        69382995              1               9               2
7        69386796              1              30               7
8        69384001              1              30               2
9        69367832              1              29               2
10       69380812              1              30               2
11       69381478              1              28               2
12       69396537              1              28               2
13       69369873              1              29               1
14       69380027              1              30               1
15       69396904              1              37               2
16       69373301              1              34               2
17       69374143              1              29               2
18       69379718              1              40               2
19       69390644              1              21               1
20       69395995              1              30               7
21       69387573              1              35               2
22       69362185              1              28               2
23       69385702              1              37               2
24       69393189              1              30               2
25       69376611              1               9               2
26       69361682              1              29               2
27       69394213              1              40               2
28       69395017              1              34               1
29       69394919              1              34               1
...           ...            ...             ...             ...
2588808  72569017              1              41               1
2588809  72569766              1              23               1
2588810  72569956              1              43               7
2588811  72569844              1              28               1
2588812  72569810              1              30               2
2588813  72570048              1               7               7
2588814  72555575              1              32               1
2588815  72568805              1              29               1
2588816  72568201              1              21               8
2588817  72568874              1               7               2
2588818  72568147              1              46               2
2588819  72568590              1              11               2
2588820  72568116              1              21               8
2588821  72569289              1               7               1
2588822  72569219              1              47               1
2588823  72567770              1              36               2
2588824  72566594              1              30               1
2588825  72568676              1               7               1
2588826  72568682              1              30               2
2588827  72568673              1              30               7
2588828  72567967              1              31               2
2588829  72567310              1              50               1
2588830  72568626              1              50               1
2588831  72567274              1              12               2
2588832  72567944              1              45               2
2588833  72568685              1              26               8
2588834  72568684              4              48               2
2588835  72568537              1              42               2
2588836  72567896              2               9               2
2588837  72568513              1              37               8

         pri_pro_id_fk  region_id_fk  seller_id_fk           creation_date  \
0                    2             9       5036170 2018-08-01 18:45:41.504
1                    1             6       2300798 2018-08-01 17:22:39.238
2                    1            15       2753977 2018-08-01 10:00:31.425
3                    2            15       3403038 2018-08-01 12:56:59.203
4                    1            15       1324818 2018-08-01 15:16:12.022
5                    2             6       6965367 2018-08-01 16:46:07.457
6                    2            15       6965180 2018-08-01 16:08:38.513
7                    2            15       6967117 2018-08-01 17:32:52.371
8                    2             7       6966788 2018-08-01 16:32:08.091
9                    2             3       6967039 2018-08-01 10:11:17.077
10                   2            15       6966854 2018-08-01 15:19:37.225
11                   2             5       6965164 2018-08-01 15:34:50.324
12                   2             6       6966908 2018-08-01 21:47:23.900
13                   2            15       6966909 2018-08-01 11:04:13.353
14                   2            15       6966330 2018-08-01 15:00:30.481
15                   2            15       6966498 2018-08-01 21:56:05.849
16                   2            15       6965532 2018-08-01 12:22:55.304
17                   2            15       6966335 2018-08-01 12:42:24.988
18                   2            15       6966597 2018-08-01 14:53:31.612
19                   2             3       6965099 2018-08-01 19:03:32.635
20                   2            14       4908732 2018-08-01 21:33:46.251
21                   2            15       6966827 2018-08-01 17:48:14.640
22                   2             5       6965369 2018-08-01 00:26:59.310
23                   2            15       6966066 2018-08-01 17:09:59.813
24                   2            15       6966209 2018-08-01 20:18:38.468
25                   2             6       6966538 2018-08-01 13:41:06.616
26                   2            15       6964875 2018-08-01 00:02:54.864
27                   2            11       6967227 2018-08-01 20:45:17.947
28                   2            15       6966504 2018-08-01 21:07:16.248
29                   2            15       6967024 2018-08-01 21:04:30.049
...                ...           ...           ...                     ...
2588808              2            10        897507 2018-10-31 00:14:20.273
2588809              1            15       5409046 2018-10-31 00:58:27.932
2588810              2            15       2218349 2018-10-31 01:15:32.264
2588811              2            15       3796083 2018-10-31 01:06:08.230
2588812              2            15       7042539 2018-10-31 01:02:50.492
2588813              1             7       4753382 2018-10-31 01:24:29.638
2588814              1             6        170343 2018-10-30 17:39:10.177
2588815              2            15       2334808 2018-10-31 00:04:42.898
2588816              2             6       6300189 2018-10-30 23:40:26.079
2588817              2             3        671833 2018-10-31 00:08:02.016
2588818              2             7       7178051 2018-10-30 23:38:48.580
2588819              2            11       5529746 2018-10-30 23:55:28.091
2588820              2            15        789874 2018-10-30 23:37:51.290
2588821              2             9       5633415 2018-10-31 00:27:50.530
2588822              1             5       3583765 2018-10-31 00:24:00.266
2588823              2            11       6778799 2018-10-30 23:26:10.959
2588824              2             7       7176749 2018-10-30 22:49:15.199
2588825              2            15       4948428 2018-10-30 23:59:04.975
2588826              2            15       6296951 2018-10-30 23:59:18.010
2588827              2            15       7178101 2018-10-30 23:59:02.852
2588828              2            15       4105093 2018-10-30 23:32:37.298
2588829              2             6       5593256 2018-10-30 23:11:37.080
2588830              2             9       7171474 2018-10-30 23:56:55.914
2588831              1            10       6778799 2018-10-30 23:10:34.737
2588832              2             5       1503398 2018-10-30 23:31:48.805
2588833              2            16       3083833 2018-10-30 23:59:28.020
2588834              1             5         77845 2018-10-30 23:59:23.342
2588835              2            15       5539209 2018-10-30 23:53:26.402
2588836              2            12       6766784 2018-10-30 23:30:13.787
2588837              2            15       5921378 2018-10-30 23:52:17.967

         ad_id_nk             insert_date     ...      category_id_nk  \
0        66304445 2018-08-02 00:17:12.283     ...                2020
1        66300751 2018-08-02 00:17:12.283     ...                1220
2        66281921 2018-08-02 00:17:12.283     ...                2020
3        66289256 2018-08-02 00:17:12.283     ...                2020
4        66295159 2018-08-02 00:17:12.283     ...                2020
5        66299093 2018-08-02 00:17:12.283     ...                2060
6        66297465 2018-08-02 00:17:12.283     ...                2060
7        66301266 2018-08-02 00:17:12.283     ...                3060
8        66298471 2018-08-02 00:17:12.283     ...                3060
9        66282302 2018-08-02 00:17:12.283     ...                3040
10       66295282 2018-08-02 00:17:12.283     ...                3060
11       66295948 2018-08-02 00:17:12.283     ...                3020
12       66311007 2018-08-02 00:17:12.283     ...                3020
13       66284343 2018-08-02 00:17:12.283     ...                3040
14       66294497 2018-08-02 00:17:12.283     ...                3060
15       66311374 2018-08-02 00:17:12.283     ...                4020
16       66287771 2018-08-02 00:17:12.283     ...                7060
17       66288613 2018-08-02 00:17:12.283     ...                3040
18       66294188 2018-08-02 00:17:12.283     ...                5020
19       66305114 2018-08-02 00:17:12.283     ...                6080
20       66310465 2018-08-02 00:17:12.283     ...                3060
21       66302043 2018-08-02 00:17:12.283     ...                7080
22       66276655 2018-08-02 00:17:12.283     ...                3020
23       66300172 2018-08-02 00:17:12.283     ...                4020
24       66307659 2018-08-02 00:17:12.283     ...                3060
25       66291081 2018-08-02 00:17:12.283     ...                2060
26       66276152 2018-08-02 00:17:12.283     ...                3040
27       66308683 2018-08-02 00:17:12.283     ...                5020
28       66309487 2018-08-02 00:17:12.283     ...                7060
29       66309389 2018-08-02 00:17:12.283     ...                7060
...           ...                     ...     ...                 ...
2588808  69457911 2018-11-01 00:17:13.343     ...                5040
2588809  69458660 2018-11-01 00:17:13.343     ...                6120
2588810  69458850 2018-11-01 00:17:13.343     ...                5160
2588811  69458738 2018-11-01 00:17:13.343     ...                3020
2588812  69458704 2018-11-01 00:17:13.343     ...                3060
2588813  69458942 2018-11-01 00:17:13.343     ...                2020
2588814  69444469 2018-10-31 00:17:46.835     ...                7020
2588815  69457699 2018-11-01 00:17:13.343     ...                3040
2588816  69457095 2018-10-31 00:17:46.835     ...                6080
2588817  69457768 2018-11-01 00:17:13.343     ...                2020
2588818  69457041 2018-10-31 00:17:46.835     ...                9060
2588819  69457484 2018-10-31 00:17:46.835     ...                2100
2588820  69457010 2018-10-31 00:17:46.835     ...                6080
2588821  69458183 2018-11-01 00:17:13.343     ...                2020
2588822  69458113 2018-11-01 00:17:13.343     ...                1220
2588823  69456664 2018-10-31 00:17:46.835     ...                8020
2588824  69455488 2018-10-31 00:17:46.835     ...                3060
2588825  69457570 2018-10-31 00:17:46.835     ...                2020
2588826  69457576 2018-10-31 00:17:46.835     ...                3060
2588827  69457567 2018-10-31 00:17:46.835     ...                3060
2588828  69456861 2018-10-31 00:17:46.835     ...                3080
2588829  69456204 2018-10-31 00:17:46.835     ...                4080
2588830  69457520 2018-10-31 00:17:46.835     ...                4080
2588831  69456168 2018-10-31 00:17:46.835     ...                2120
2588832  69456838 2018-10-31 00:17:46.835     ...                9040
2588833  69457579 2018-10-31 00:17:46.835     ...                6180
2588834  69457578 2018-10-31 00:17:46.835     ...                1240
2588835  69457431 2018-10-31 00:17:46.835     ...                5060
2588836  69456790 2018-10-31 00:17:46.835     ...                2060
2588837  69457407 2018-10-31 00:17:46.835     ...                4020

                    insert_date             update_date version  \
0       2014-11-14 11:40:41.828 2014-11-14 11:40:41.828       1
1       2016-01-08 17:58:44.988 2016-01-08 17:58:44.988       1
2       2014-11-14 11:40:41.828 2014-11-14 11:40:41.828       1
3       2014-11-14 11:40:41.828 2014-11-14 11:40:41.828       1
4       2014-11-14 11:40:41.828 2014-11-14 11:40:41.828       1
5       2014-11-14 11:40:41.837 2014-11-14 11:40:41.837       1
6       2014-11-14 11:40:41.837 2014-11-14 11:40:41.837       1
7       2014-11-14 11:40:41.939 2014-11-14 11:40:41.939       1
8       2014-11-14 11:40:41.939 2014-11-14 11:40:41.939       1
9       2014-11-14 11:40:41.935 2014-11-14 11:40:41.935       1
10      2014-11-14 11:40:41.939 2014-11-14 11:40:41.939       1
11      2014-11-14 11:40:41.930 2014-11-14 11:40:41.930       1
12      2014-11-14 11:40:41.930 2014-11-14 11:40:41.930       1
13      2014-11-14 11:40:41.935 2014-11-14 11:40:41.935       1
14      2014-11-14 11:40:41.939 2014-11-14 11:40:41.939       1
15      2015-01-15 10:47:48.194 2015-01-15 10:47:48.194       1
16      2014-11-14 11:40:41.959 2014-11-14 11:40:41.959       1
17      2014-11-14 11:40:41.935 2014-11-14 11:40:41.935       1
18      2015-01-15 10:47:49.472 2015-01-15 10:47:49.472       2
19      2014-11-14 11:40:41.899 2014-11-14 11:40:41.899       1
20      2014-11-14 11:40:41.939 2014-11-14 11:40:41.939       1
21      2014-11-14 11:40:41.964 2014-11-14 11:40:41.964       1
22      2014-11-14 11:40:41.930 2014-11-14 11:40:41.930       1
23      2015-01-15 10:47:48.194 2015-01-15 10:47:48.194       1
24      2014-11-14 11:40:41.939 2014-11-14 11:40:41.939       1
25      2014-11-14 11:40:41.837 2014-11-14 11:40:41.837       1
26      2014-11-14 11:40:41.935 2014-11-14 11:40:41.935       1
27      2015-01-15 10:47:49.472 2015-01-15 10:47:49.472       2
28      2014-11-14 11:40:41.959 2014-11-14 11:40:41.959       1
29      2014-11-14 11:40:41.959 2014-11-14 11:40:41.959       1
...                         ...                     ...     ...
2588808 2015-01-15 10:47:50.043 2015-01-15 10:47:50.043       2
2588809 2014-11-14 11:40:41.908 2014-11-14 11:40:41.908       1
2588810 2015-01-15 10:47:51.163 2015-01-15 10:47:51.163       1
2588811 2014-11-14 11:40:41.930 2014-11-14 11:40:41.930       1
2588812 2014-11-14 11:40:41.939 2014-11-14 11:40:41.939       1
2588813 2014-11-14 11:40:41.828 2014-11-14 11:40:41.828       1
2588814 2014-11-14 11:40:41.950 2014-11-14 11:40:41.950       1
2588815 2014-11-14 11:40:41.935 2014-11-14 11:40:41.935       1
2588816 2014-11-14 11:40:41.899 2014-11-14 11:40:41.899       1
2588817 2014-11-14 11:40:41.828 2014-11-14 11:40:41.828       1
2588818 2015-01-15 10:47:56.108 2015-01-15 10:47:56.108       1
2588819 2014-11-14 11:40:41.847 2014-11-14 11:40:41.847       1
2588820 2014-11-14 11:40:41.899 2014-11-14 11:40:41.899       1
2588821 2014-11-14 11:40:41.828 2014-11-14 11:40:41.828       1
2588822 2016-01-08 17:58:44.988 2016-01-08 17:58:44.988       1
2588823 2014-11-14 11:40:41.968 2014-11-14 11:40:41.968       1
2588824 2014-11-14 11:40:41.939 2014-11-14 11:40:41.939       1
2588825 2014-11-14 11:40:41.828 2014-11-14 11:40:41.828       1
2588826 2014-11-14 11:40:41.939 2014-11-14 11:40:41.939       1
2588827 2014-11-14 11:40:41.939 2014-11-14 11:40:41.939       1
2588828 2014-11-14 11:40:41.945 2014-11-14 11:40:41.945       1
2588829 2016-06-07 00:00:00.000 2016-06-07 00:00:00.000       1
2588830 2016-06-07 00:00:00.000 2016-06-07 00:00:00.000       1
2588831 2014-11-14 11:40:41.859 2014-11-14 11:40:41.859       1
2588832 2015-01-15 10:47:55.686 2015-01-15 10:47:55.686       1
2588833 2014-11-14 11:40:41.921 2014-11-14 11:40:41.921       1
2588834 2016-01-08 17:58:45.361 2016-01-08 17:58:45.361       1
2588835 2015-01-15 10:47:50.603 2015-01-15 10:47:50.603       2
2588836 2014-11-14 11:40:41.837 2014-11-14 11:40:41.837       1
2588837 2015-01-15 10:47:48.194 2015-01-15 10:47:48.194       1

                      date_from                 date_to    ad_id_nk photos  \
0       1900-01-01 00:00:00.000 2199-12-31 23:59:59.999  66304445.0   12.0
1       1900-01-01 00:00:00.000 2199-12-31 23:59:59.999  66300751.0   20.0
2       1900-01-01 00:00:00.000 2199-12-31 23:59:59.999         NaN    NaN
3       1900-01-01 00:00:00.000 2199-12-31 23:59:59.999  66289256.0   10.0
4       1900-01-01 00:00:00.000 2199-12-31 23:59:59.999  66295159.0    6.0
5       1900-01-01 00:00:00.000 2199-12-31 23:59:59.999  66299093.0    1.0
6       1900-01-01 00:00:00.000 2199-12-31 23:59:59.999  66297465.0    4.0
7       1900-01-01 00:00:00.000 2199-12-31 23:59:59.999  66301266.0    2.0
8       1900-01-01 00:00:00.000 2199-12-31 23:59:59.999  66298471.0    3.0
9       1900-01-01 00:00:00.000 2199-12-31 23:59:59.999  66282302.0    3.0
10      1900-01-01 00:00:00.000 2199-12-31 23:59:59.999  66295282.0    5.0
11      1900-01-01 00:00:00.000 2199-12-31 23:59:59.999         NaN    NaN
12      1900-01-01 00:00:00.000 2199-12-31 23:59:59.999  66311007.0    3.0
13      1900-01-01 00:00:00.000 2199-12-31 23:59:59.999  66284343.0    1.0
14      1900-01-01 00:00:00.000 2199-12-31 23:59:59.999  66294497.0    2.0
15      1900-01-01 00:00:00.000 2199-12-31 23:59:59.999  66311374.0    2.0
16      1900-01-01 00:00:00.000 2199-12-31 23:59:59.999         NaN    NaN
17      1900-01-01 00:00:00.000 2199-12-31 23:59:59.999  66288613.0    6.0
18      2015-01-15 10:47:39.473 2199-12-31 23:59:59.999  66294188.0    6.0
19      1900-01-01 00:00:00.000 2199-12-31 23:59:59.999  66305114.0    4.0
20      1900-01-01 00:00:00.000 2199-12-31 23:59:59.999  66310465.0    5.0
21      1900-01-01 00:00:00.000 2199-12-31 23:59:59.999  66302043.0    4.0
22      1900-01-01 00:00:00.000 2199-12-31 23:59:59.999         NaN    NaN
23      1900-01-01 00:00:00.000 2199-12-31 23:59:59.999  66300172.0    6.0
24      1900-01-01 00:00:00.000 2199-12-31 23:59:59.999  66307659.0    3.0
25      1900-01-01 00:00:00.000 2199-12-31 23:59:59.999  66291081.0    2.0
26      1900-01-01 00:00:00.000 2199-12-31 23:59:59.999  66276152.0    3.0
27      2015-01-15 10:47:39.473 2199-12-31 23:59:59.999  66308683.0    2.0
28      1900-01-01 00:00:00.000 2199-12-31 23:59:59.999  66309487.0    1.0
29      1900-01-01 00:00:00.000 2199-12-31 23:59:59.999  66309389.0    2.0
...                         ...                     ...         ...    ...
2588808 2015-01-15 10:47:39.473 2199-12-31 23:59:59.999         NaN    NaN
2588809 1900-01-01 00:00:00.000 2199-12-31 23:59:59.999         NaN    NaN
2588810 1900-01-01 00:00:00.000 2199-12-31 23:59:59.999         NaN    NaN
2588811 1900-01-01 00:00:00.000 2199-12-31 23:59:59.999         NaN    NaN
2588812 1900-01-01 00:00:00.000 2199-12-31 23:59:59.999         NaN    NaN
2588813 1900-01-01 00:00:00.000 2199-12-31 23:59:59.999         NaN    NaN
2588814 1900-01-01 00:00:00.000 2199-12-31 23:59:59.999         NaN    NaN

### Words distribution

In [6]:
count = df_sql['body'].str.split().apply(len).value_counts()
count.index = count.index.astype(str) + ' words:'
count.sort_index(inplace=True)
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(count)

0 words:          5
1 words:      13074
10 words:     85020
100 words:     2438
101 words:     2077
102 words:     1847
103 words:     2189
104 words:     1851
105 words:     1804
106 words:     1929
107 words:     1643
108 words:     1970
109 words:     1427
11 words:     83539
110 words:     1531
111 words:     1853
112 words:     1467
113 words:     2896
114 words:     1438
115 words:     1309
116 words:     1630
117 words:     1376
118 words:     1935
119 words:     1459
12 words:     80292
120 words:     1292
121 words:     1742
122 words:     1374
123 words:     1302
124 words:     1521
125 words:     2518
126 words:     4069
127 words:     1262
128 words:     1099
129 words:     1174
13 words:     79011
130 words:     1079
131 words:     1053
132 words:     1051
133 words:     1076
134 words:     1122
135 words:      975
136 words:     1080
137 words:      890
138 words:      884
139 words:      918
14 words:     74398
140 words:      991
141 words:      850
142 words:      894
143 words:     1913
144 words:      951
145 words:      791
146 words:      979
147 words:    13685
148 words:      937
149 words:     3119
15 words:     70926
150 words:      843
151 words:      763
152 words:      729
153 words:      706
154 words:      743
155 words:      711
156 words:      732
157 words:      725
158 words:      612
159 words:      561
16 words:     67616
160 words:      575
161 words:      603
162 words:      737
163 words:      497
164 words:      551
165 words:      601
166 words:      577
167 words:     3056
168 words:      594
169 words:      529
17 words:     64735
170 words:      517
171 words:      536
172 words:      524
173 words:      470
174 words:      428
175 words:      497
176 words:      417
177 words:      505
178 words:      443
179 words:      429
18 words:     61747
180 words:      390
181 words:      424
182 words:      403
183 words:      435
184 words:      355
185 words:      397
186 words:      387
187 words:      361
188 words:      400
189 words:      951
19 words:     58805
190 words:      356
191 words:     5853
192 words:     1292
193 words:      331
194 words:      356
195 words:      664
196 words:      360
197 words:     1172
198 words:     1080
199 words:      295
2 words:      27866
20 words:     55103
200 words:      316
201 words:      315
202 words:      744
203 words:      292
204 words:      343
205 words:      292
206 words:      265
207 words:      303
208 words:      282
209 words:      230
21 words:     51848
210 words:      443
211 words:      433
212 words:      266
213 words:      301
214 words:      232
215 words:      245
216 words:      297
217 words:      234
218 words:      196
219 words:      192
22 words:     49050
220 words:      225
221 words:      224
222 words:      250
223 words:      200
224 words:      212
225 words:      275
226 words:      292
227 words:      751
228 words:      176
229 words:      216
23 words:     45966
230 words:      200
231 words:      184
232 words:      199
233 words:      199
234 words:      235
235 words:      187
236 words:      178
237 words:      182
238 words:      221
239 words:      201
24 words:     43644
240 words:      220
241 words:      259
242 words:      260
243 words:      186
244 words:      175
245 words:      175
246 words:      149
247 words:      135
248 words:      149
249 words:      139
25 words:     40840
250 words:      115
251 words:      167
252 words:      150
253 words:      191
254 words:      146
255 words:      118
256 words:      129
257 words:      142
258 words:      142
259 words:      142
26 words:     39115
260 words:      161
261 words:      162
262 words:      131
263 words:      130
264 words:      116
265 words:      129
266 words:      136
267 words:      131
268 words:      127
269 words:      127
27 words:     36865
270 words:      104
271 words:      122
272 words:      113
273 words:      119
274 words:      107
275 words:      112
276 words:      189
277 words:      127
278 words:      156
279 words:       88
28 words:     35011
280 words:      105
281 words:      124
282 words:      116
283 words:      113
284 words:      113
285 words:      103
286 words:       89
287 words:      113
288 words:      101
289 words:       89
29 words:     33131
290 words:      103
291 words:      115
292 words:      150
293 words:      106
294 words:       98
295 words:      117
296 words:       84
297 words:      122
298 words:      222
299 words:       94
3 words:      42990
30 words:     32590
300 words:      106
301 words:       69
302 words:       81
303 words:       71
304 words:       85
305 words:      104
306 words:      100
307 words:       87
308 words:       77
309 words:      154
31 words:     30064
310 words:       94
311 words:      165
312 words:       82
313 words:      233
314 words:       92
315 words:      196
316 words:      140
317 words:       60
318 words:      211
319 words:       73
32 words:     28108
320 words:      116
321 words:       90
322 words:      111
323 words:       61
324 words:      123
325 words:       37
326 words:      101
327 words:       65
328 words:       38
329 words:       42
33 words:     30635
330 words:       84
331 words:       32
332 words:       83
333 words:       38
334 words:       24
335 words:       21
336 words:       22
337 words:      105
338 words:       20
339 words:       31
34 words:     25457
340 words:       25
341 words:       71
342 words:       13
343 words:       10
344 words:       11
345 words:       11
346 words:        9
347 words:        6
348 words:        7
349 words:        9
35 words:     24821
350 words:       11
351 words:       10
352 words:        4
353 words:        4
354 words:        2
355 words:        2
356 words:        1
357 words:        3
358 words:        4
359 words:        2
36 words:     23589
360 words:        1
361 words:        1
363 words:        1
364 words:        2
365 words:        1
366 words:        1
367 words:        1
368 words:        2
369 words:        2
37 words:     21656
370 words:        2
373 words:        1
374 words:        1
375 words:        3
378 words:        2
38 words:     21019
380 words:        2
385 words:        2
387 words:        1
39 words:     19559
390 words:        1
396 words:        2
4 words:      68973
40 words:     18709
402 words:        1
404 words:        1
409 words:        1
41 words:     17140
42 words:     16223
43 words:     15771
44 words:     14789
449 words:        1
45 words:     13973
46 words:     14173
47 words:     14514
48 words:     12890
49 words:     14382
5 words:      79594
50 words:     13909
51 words:     12969
52 words:     12318
529 words:        1
53 words:     11375
54 words:     10281
55 words:      9183
56 words:      9385
57 words:      9138
58 words:      8284
59 words:      7408
6 words:      85441
60 words:      7082
61 words:      7348
62 words:      7478
63 words:      6721
64 words:      6555
65 words:      6474
66 words:      6239
67 words:      6219
68 words:      6295
69 words:      5603
7 words:      87578
70 words:      5655
71 words:      6129
72 words:      4947
73 words:      4680
74 words:     10342
75 words:      4752
76 words:      5696
77 words:      4160
78 words:      3849
79 words:      3799
8 words:      87941
80 words:      4362
81 words:      4209
82 words:      4990
83 words:      4645
84 words:      3666
85 words:      3486
86 words:      3069
87 words:      2981
88 words:      2821
89 words:      3324
9 words:      85889
90 words:      2671
91 words:      4418
92 words:      5349
93 words:      5986
94 words:      2734
95 words:      2459
96 words:      2496
97 words:      2367
98 words:      2435
99 words:      1935
Name: body, dtype: int64

### C Description per categories

In [351]:
count_body = df_sql['body'].str.split().apply(len)
count_subect = df_sql['subject'].str.split().apply(len)
df_category = df_sql['category_id_fk']

df_merge_bs = pd.concat([count_body, count_subect], axis=1, sort=False)

df_merge_bs = pd.concat([df_merge_bs, df_category], axis=1, sort=False)
df_merge_bs['total_words'] = df_merge_bs.apply(lambda row: row.body + row.subject, axis=1)
df_merge_bs = df_merge_bs[['category_id_fk','total_words']]

df_merge_bs
#print df_body

#print df_subject

         category_id_fk  total_words
0                     7           49
1                    34           39
2                    29           36
3                    12           23
4                    30           19
5                     7           25
6                    28           30
7                    35           13
8                    28           31
9                    37           25
10                    8           12
11                   50           39
12                   37           15
13                    7          124
14                   35           40
15                   46            6
16                   28           20
17                   20           10
18                   29           71
19                   34           17
20                   40           38
21                   34            8
22                   19           24
23                   37           22
24                   35           39
25                    7           21
26                   20            9
27                    7           25
28                   45           10
29                   47           34
...                 ...          ...
2534489              11            9
2534490              23           16
2534491              46            8
2534492              47           29
2534493              25           16
2534494              28           22
2534495              42            6
2534496              24           19
2534497              23            6
2534498              23           17
2534499              37           10
2534500              11            9
2534501              43           16
2534502              23            8
2534503              12           17
2534504               7           14
2534505              39           28
2534506              23            8
2534507              37           15
2534508              37            6
2534509              30           18
2534510              37           13
2534511              37            9
2534512              35           12
2534513              24            8
2534514              11           18
2534515              47           23
2534516              26           12
2534517              38           11
2534518              41           11

[2534519 rows x 2 columns]

In [352]:
cat_id=[1,2,3,4,5,6,7,8,9,10,11,12,19,20,21,22,23,24,25,26,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50]
df_words_cat=[]
for x in cat_id:
    df_words_cat.append(df_merge_bs[df_merge_bs['category_id_fk']==x].quantile([.25,.75]))

In [353]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(df_words_cat)

[      category_id_fk  total_words
0.25             NaN          NaN
0.75             NaN          NaN,       category_id_fk  total_words
0.25             NaN          NaN
0.75             NaN          NaN,       category_id_fk  total_words
0.25             NaN          NaN
0.75             NaN          NaN,       category_id_fk  total_words
0.25             NaN          NaN
0.75             NaN          NaN,       category_id_fk  total_words
0.25             NaN          NaN
0.75             NaN          NaN,       category_id_fk  total_words
0.25             NaN          NaN
0.75             NaN          NaN,       category_id_fk  total_words
0.25             7.0         22.0
0.75             7.0         63.0,       category_id_fk  total_words
0.25             8.0         17.0
0.75             8.0         40.0,       category_id_fk  total_words
0.25             9.0         16.0
0.75             9.0         38.0,       category_id_fk  total_words
0.25            10.0         16.0
0.75            10.0         39.0,       category_id_fk  total_words
0.25            11.0         11.0
0.75            11.0         29.0,       category_id_fk  total_words
0.25            12.0         13.0
0.75            12.0         32.0,       category_id_fk  total_words
0.25            19.0         12.0
0.75            19.0         31.0,       category_id_fk  total_words
0.25            20.0         12.0
0.75            20.0         33.0,       category_id_fk  total_words
0.25            21.0         14.0
0.75            21.0         41.0,       category_id_fk  total_words
0.25            22.0         16.0
0.75            22.0         52.0,       category_id_fk  total_words
0.25            23.0         14.0
0.75            23.0         54.0,       category_id_fk  total_words
0.25            24.0         14.0
0.75            24.0         38.0,       category_id_fk  total_words
0.25            25.0         12.0
0.75            25.0         33.0,       category_id_fk  total_words
0.25            26.0         13.0
0.75            26.0         40.0,       category_id_fk  total_words
0.25            28.0         14.0
0.75            28.0         37.0,       category_id_fk  total_words
0.25            29.0         16.0
0.75            29.0         52.0,       category_id_fk  total_words
0.25            30.0         16.0
0.75            30.0         40.0,       category_id_fk  total_words
0.25            31.0         14.0
0.75            31.0         42.0,       category_id_fk  total_words
0.25            32.0         23.0
0.75            32.0         58.0,       category_id_fk  total_words
0.25            33.0         16.0
0.75            33.0         39.0,       category_id_fk  total_words
0.25            34.0         18.0
0.75            34.0         51.0,       category_id_fk  total_words
0.25            35.0         12.0
0.75            35.0         33.0,       category_id_fk  total_words
0.25            36.0         12.0
0.75            36.0         33.0,       category_id_fk  total_words
0.25            37.0         11.0
0.75            37.0         25.0,       category_id_fk  total_words
0.25            38.0         10.0
0.75            38.0         27.0,       category_id_fk  total_words
0.25            39.0         13.0
0.75            39.0         43.0,       category_id_fk  total_words
0.25            40.0         12.0
0.75            40.0         27.0,       category_id_fk  total_words
0.25            41.0         11.0
0.75            41.0         27.0,       category_id_fk  total_words
0.25            42.0         12.0
0.75            42.0         34.0,       category_id_fk  total_words
0.25            43.0         11.0
0.75            43.0         29.0,       category_id_fk  total_words
0.25            44.0         12.0
0.75            44.0         27.0,       category_id_fk  total_words
0.25            45.0         12.0
0.75            45.0         34.0,       category_id_fk  total_words
0.25            46.0         12.0
0.75            46.0         32.0,       category_id_fk  total_words
0.25            47.0         32.0
0.75            47.0         88.0,       category_id_fk  total_words
0.25            48.0         24.0
0.75            48.0         70.0,       category_id_fk  total_words
0.25            49.0        30.25
0.75            49.0        85.00,       category_id_fk  total_words
0.25            50.0         10.0
0.75            50.0         23.0]

In [179]:
count_body.quantile([.25,.75])

0.25    15.5
0.75    26.0
Name: body, dtype: float64

### C Price per categories

In [354]:
df_query = pd.DataFrame(df_sql)
df_price = pd.DataFrame()

In [355]:
df_price=df_query[['category_id_fk','price']]
df_price

         category_id_fk        price
0                     7    4200000.0
1                    34          NaN
2                    29     370000.0
3                    12    8000000.0
4                    30     130000.0
5                     7    6300000.0
6                    28      20000.0
7                    35     800000.0
8                    28      20000.0
9                    37      15000.0
10                    8   26500000.0
11                   50      30000.0
12                   37      20000.0
13                    7    8990000.0
14                   35     390000.0
15                   46     100000.0
16                   28      75000.0
17                   20      70000.0
18                   29      40000.0
19                   34          NaN
20                   40          NaN
21                   34          NaN
22                   19      45000.0
23                   37          NaN
24                   35          NaN
25                    7    5850000.0
26                   20      15000.0
27                    7    4750000.0
28                   45      38000.0
29                   47   67000000.0
...                 ...          ...
2534489              11      90000.0
2534490              23       5000.0
2534491              46      45000.0
2534492              47  125000000.0
2534493              25      18000.0
2534494              28      20000.0
2534495              42      40000.0
2534496              24     380000.0
2534497              23       5000.0
2534498              23       5000.0
2534499              37       5000.0
2534500              11      30000.0
2534501              43      20000.0
2534502              23      10000.0
2534503              12   35000000.0
2534504               7    8000000.0
2534505              39       3000.0
2534506              23      15000.0
2534507              37      27000.0
2534508              37          NaN
2534509              30      45000.0
2534510              37      14000.0
2534511              37       5000.0
2534512              35          NaN
2534513              24       4000.0
2534514              11      60000.0
2534515              47   50000000.0
2534516              26      50000.0
2534517              38       3500.0
2534518              41     150000.0

[2534519 rows x 2 columns]

In [260]:
df_price[df_price['category_id_fk']==31].quantile([.1,.9])

     category_id_fk     price
0.1            31.0   10000.0
0.9            31.0  225000.0

In [356]:
cate_name=[1,2,3,4,5,6,7,8,9,10,11,12,19,20,21,22,23,24,25,26,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50]
df_price_cat=[]
for x in cate_name:
    df_price_cat.append(df_price[df_price['category_id_fk']==x].quantile([.1,.9]))

In [1]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(df_price_cat)

NameError: name 'pd' is not defined

### Photos

In [371]:
df_query = pd.DataFrame(df_sql)
df_photo = pd.DataFrame()

In [373]:
#df_photo=df_query[['category_id_fk','has_a_photo','photos','mean_resol']]
df_photo=df_query[['category_id_fk','photos']]
df_photo

         category_id_fk  photos
0                    34     NaN
1                    12     4.0
2                     7     6.0
3                     7    12.0
4                    20     1.0
5                    29     3.0
6                    40     4.0
7                    19     6.0
8                    37     NaN
9                     7     4.0
10                    7     6.0
11                   45     2.0
12                   40     4.0
13                   36     4.0
14                   35     2.0
15                   46     2.0
16                    7     6.0
17                   50     4.0
18                    7     5.0
19                   48     7.0
20                   32     NaN
21                   29     NaN
22                   34     NaN
23                   31     6.0
24                   11     5.0
25                    9     3.0
26                   37     2.0
27                   37     2.0
28                   39     1.0
29                   26     4.0
...                 ...     ...
2534489              46     4.0
2534490              40     2.0
2534491              37     2.0
2534492              11     3.0
2534493              29     4.0
2534494               7     5.0
2534495              43     4.0
2534496              24     1.0
2534497              37     3.0
2534498              28     6.0
2534499              41     6.0
2534500              32     2.0
2534501              37     5.0
2534502              26     1.0
2534503              38     1.0
2534504              11     1.0
2534505              50     5.0
2534506              11     NaN
2534507              25     6.0
2534508              50     4.0
2534509              38     3.0
2534510              21     2.0
2534511               7     3.0
2534512              29     2.0
2534513              23     1.0
2534514              37     3.0
2534515              37     2.0
2534516              11     3.0
2534517              26     2.0
2534518              41     2.0

[2534519 rows x 2 columns]

In [374]:
cate_name=[1,2,3,4,5,6,7,8,9,10,11,12,19,20,21,22,23,24,25,26,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50]
df_photo_cat=[]
for x in cate_name:
    df_photo_cat.append(df_photo[df_photo['category_id_fk']==x].quantile([.5]))

In [375]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(df_photo_cat)

[     category_id_fk  photos
0.5             NaN     NaN,      category_id_fk  photos
0.5             NaN     NaN,      category_id_fk  photos
0.5             NaN     NaN,      category_id_fk  photos
0.5             NaN     NaN,      category_id_fk  photos
0.5             NaN     NaN,      category_id_fk  photos
0.5             NaN     NaN,      category_id_fk  photos
0.5             7.0     6.0,      category_id_fk  photos
0.5             8.0     5.0,      category_id_fk  photos
0.5             9.0     4.0,      category_id_fk  photos
0.5            10.0     4.0,      category_id_fk  photos
0.5            11.0     2.0,      category_id_fk  photos
0.5            12.0     4.0,      category_id_fk  photos
0.5            19.0     3.0,      category_id_fk  photos
0.5            20.0     3.0,      category_id_fk  photos
0.5            21.0     3.0,      category_id_fk  photos
0.5            22.0     2.0,      category_id_fk  photos
0.5            23.0     2.0,      category_id_fk  photos
0.5            24.0     3.0,      category_id_fk  photos
0.5            25.0     3.0,      category_id_fk  photos
0.5            26.0     3.0,      category_id_fk  photos
0.5            28.0     2.0,      category_id_fk  photos
0.5            29.0     3.0,      category_id_fk  photos
0.5            30.0     3.0,      category_id_fk  photos
0.5            31.0     3.0,      category_id_fk  photos
0.5            32.0     1.0,      category_id_fk  photos
0.5            33.0     1.0,      category_id_fk  photos
0.5            34.0     2.0,      category_id_fk  photos
0.5            35.0     2.0,      category_id_fk  photos
0.5            36.0     2.0,      category_id_fk  photos
0.5            37.0     3.0,      category_id_fk  photos
0.5            38.0     3.0,      category_id_fk  photos
0.5            39.0     2.0,      category_id_fk  photos
0.5            40.0     3.0,      category_id_fk  photos
0.5            41.0     3.0,      category_id_fk  photos
0.5            42.0     2.0,      category_id_fk  photos
0.5            43.0     2.0,      category_id_fk  photos
0.5            44.0     3.0,      category_id_fk  photos
0.5            45.0     2.0,      category_id_fk  photos
0.5            46.0     3.0,      category_id_fk  photos
0.5            47.0     7.0,      category_id_fk  photos
0.5            48.0     6.0,      category_id_fk  photos
0.5            49.0     7.0,      category_id_fk  photos
0.5            50.0     3.0]

In [402]:
df_resol=df_query[['category_id_fk','mean_resol']]

df_resol = df_resol[df_resol['mean_resol']>0]

cate_name=[1,2,3,4,5,6,7,8,9,10,11,12,19,20,21,22,23,24,25,26,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50]

df_resol.groupby(df_resol.category_id_fk)[['mean_resol']].median()

                mean_resol
category_id_fk
7                    272.0
8                    240.0
9                    230.0
10                   205.0
11                   209.0
12                   230.0
19                   172.0
20                   230.0
21                   172.0
22                   172.0
23                   172.0
24                   177.0
25                   172.0
26                   182.0
28                   172.0
29                   210.0
30                   172.0
31                   217.0
32                   229.0
33                   184.0
34                   216.0
35                   172.0
36                   172.0
37                   172.0
38                   172.0
39                   175.0
40                   206.0
41                   172.0
42                   180.0
43                   172.0
44                   172.0
45                   185.0
46                   172.0
47                   228.0
48                   204.0
49                   230.0
50                   180.0